$c-neutral: #FFFFFF;
$c-primal:  #3C91E6;
$c-second:  #342E37;

$c-neutral-rgb: rgb(250, 255, 253);
$c-primal-rgb:  rgb(60, 145, 230);
$c-second-rgb:  rgb(52, 46, 55);

$max-page-width:    1400px;
$max-content-width: 1100px;
$max-sidebar-width: 300px;

$f-family: 'Roboto', sans-serif, serif;
$f-size: 16px;